.edit-blog-heading {
    background-color: #1b76d1;
    text-align: center;
    padding: 10px 0;
  }
  
  .edit-blog-heading h1 {
    color: white;
    margin: 0;
    font-size: 20px;
  }
  
  form {
      max-width: 500px;
      margin: 20px auto;
      padding: 20px;
      background-color: #f0f0f0;
    }
    
    form div {
      margin-bottom: 10px;
    }
    
    label {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
    }
    
    input, textarea {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #d3d3d3;
      border-radius: 4px;
    }
    
    textarea {
      height: 100px;
    }
    
    button[type="submit"] {
      padding: 8px 15px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    button[type="submit"]:hover {
      background-color: #0056b3;
    }
    
    .featured-image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .featured-image-wrapper img {
      max-width: 10%;
      height: auto;
      display: block;
      margin: 0 auto;
    }