<div class="contact-heading">
    <h1>Connect to vocal maestros all over the world!</h1>
  </div>
  
  <div class="contact-text">
    <p>
      Our platform serves as a vibrant community connecting vocal masters with singing students.<br>
      Each article features insights from renowned vocal teachers, providing direct avenues for students<br>
      to engage with them. Embrace the opportunity to learn from the best. Reach out directly to any<br>
      maestro featured within our articles and start your journey towards vocal excellence today.
    </p>
  </div>
  
  <div class="contact-image">
    <img src="../../../assets/images/community.jpg" alt="Vocal Community">
  </div>
  
  