<div class="blog-detail-heading">
    <h1>Vocal wisdom article</h1>
</div>
<br/>

<div class="blog-container">
    <h1 class="blog-title">{{ blog?.title }}</h1>
    <img class="blog-image" [src]="blog?.imageUrl" alt="Blog Image">
    <div class="blog-content">{{ blog?.content }}</div>
    <div class="blog-author">Author: {{ blog?.authorName }}</div>

    <div *ngIf="isAuthor | async" class="blog-actions">
        <button (click)="editPost()" class="edit-button">Edit article</button>
        <button (click)="deletePost()" class="delete-button">Delete article</button>
    </div>
</div>