.blog-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .blog-container {
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .blog-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .blog-title, .blog-content, .blog-author {
    margin-bottom: 20px;
  }
  