.blog-detail-heading {
  background-color: #1b76d1;
  text-align: center;
  padding: 10px 0;
}

.blog-detail-heading h1 {
  color: white;
  margin: 0;
  font-size: 20px;
}

.blog-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .blog-container {
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .blog-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .blog-title, .blog-content, .blog-author {
    margin-bottom: 20px;
  }

  .edit-button, .delete-button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.edit-button {
    background-color: #4CAF50;
}

.delete-button {
    background-color: #f44336;
}

.edit-button:hover {
    background-color: #45a049;
}

.delete-button:hover {
    background-color: #d32f2f;
}
  