<div class="about-heading">
    <h1>About Us</h1>
  </div>
  
  <div class="about-text">
    <p>
      This website is for all vocal-related content. We wanted to bring many people who want<br>
      to share their vocal experience and expertise together so that we can form a large community.<br>
      Please feel free to create articles and share them with the world. Sharing is caring! :)
    </p>
  </div>
  
  <div class="about-image">
    <img src="../../../assets/images/pavarotti.jpg" alt="Pavarotti">
  </div>
  
  
