.blog-list-heading {
  background-color: #1b76d1;
  text-align: center;
  padding: 10px 0;
}

.blog-list-heading h1 {
  color: white;
  margin: 0;
  font-size: 20px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.blog-entry {
  width: 60%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blog-entry img {
  width: 80%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto); /* This will create a responsive grid */
  gap: 1rem;
  justify-content: center;
}

.grid-item {
  /* You can add styles specific to grid items here */
  /* Example for adding some padding and border */
  border: 1px solid #ccc;
  border-radius: 4px;
}












