<div class="blog-list-heading">
    <h1>Dashboard</h1>
</div>
<br/>

<div *ngIf="author" class="author-profile">
    <h1>Welcome, {{ author?.name }}!</h1>
    <img *ngIf="author.imageUrl" [src]="author.imageUrl" alt="Author Image" class="author-image">
    <h2>{{ author.name }}</h2>
    <p>Email: {{ author.email }}</p>
</div>

<div *ngIf="blogs && blogs.length > 0; else noBlogs">
    <div class="article-list">
        <br/>
        <h2>Your articles:</h2>
        <br/>
    </div>
    <div class="grid-container">
        <div *ngFor="let blog of blogs" class="blog-entry" class="grid-item blog-entry">
            <h4><a [routerLink]="['/blog-details', blog.id]">{{ blog.title }}</a></h4>
            <img [src]="blog.imageUrl" alt="Image">
     </div>
    </div>
</div>


<ng-template #noBlogs>
    <p>You currently have no articles. Start by creating one!</p>
</ng-template>