.author-details-heading {
    background-color: #1b76d1;
    text-align: center;
    padding: 10px 0;
  }
  
  .author-details-heading h1 {
    color: white;
    margin: 0;
    font-size: 20px;
  }

.author-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  
  .author-container {
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  .author-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .author-name, .author-email {
    margin-bottom: 20px;
  }
  